<app-header></app-header>
<app-sidebar></app-sidebar>
<app-main-wrapper>
  <h1>Federico Ayala</h1>
  <my-component>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde quas accusantium, 
    provident ea deleniti excepturi quasi itaque ex enim beatae, doloremque dolorem culpa deserunt. 
    Maiores maxime molestiae excepturi consequatur nostrum.
    <br>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde quas accusantium, 
    provident ea deleniti excepturi quasi itaque ex enim beatae, doloremque dolorem culpa deserunt. 
    Maiores maxime molestiae excepturi consequatur nostrum.
    <br>
    <br>
    <br>
    <br>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde quas accusantium, 
    provident ea deleniti excepturi quasi itaque ex enim beatae, doloremque dolorem culpa deserunt. 
    Maiores maxime molestiae excepturi consequatur nostrum.
    <br>
    <br>
    <br>
    <br>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde quas accusantium, 
    provident ea deleniti excepturi quasi itaque ex enim beatae, doloremque dolorem culpa deserunt. 
    Maiores maxime molestiae excepturi consequatur nostrum.
    <br>
    <br>
    <br>
    <br>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde quas accusantium, 
    provident ea deleniti excepturi quasi itaque ex enim beatae, doloremque dolorem culpa deserunt. 
    Maiores maxime molestiae excepturi consequatur nostrum.
    <br>
    <br>
    <br>
    <br>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde quas accusantium, 
    provident ea deleniti excepturi quasi itaque ex enim beatae, doloremque dolorem culpa deserunt. 
    Maiores maxime molestiae excepturi consequatur nostrum.
    </my-component>
</app-main-wrapper>